@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: grid;
  grid-template-columns: 240px 1fr 360px;
  grid-template-rows: 50px 30px 1fr 30px 40px;
  gap: 0px 0px;
  grid-template-areas:
    'nav-bar nav-bar nav-bar'
    'menu-bar menu-bar menu-bar'
    'design-area report-area settings-area'
    'status-bar status-bar status-bar'
    'footer-area footer-area footer-area';
}

.nav-bar {
  grid-area: nav-bar;
}

.menu-bar {
  grid-area: menu-bar;
}

.report-area {
  grid-area: report-area;
}

.settings-area {
  grid-area: settings-area;
}

.design-area {
  grid-area: design-area;
}

.footer-area {
  grid-area: footer-area;
}

.status-bar {
  grid-area: status-bar;
}
