@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@import url('../node_modules/react-resizable/css/styles.css');
@import url('../node_modules/react-grid-layout/css/styles.css');

@import url('./layout.css');
@import url('./menubar.css');
@import url('./grid.css');
@import url('./semantics.css');

/* Pages */
@import url('./landing.css');
@import url('./createReport.css');

.menu-bar {
	cursor: default;
}

.logo {
	width: 20px;
	height: 20px;
}

.filter-on .filter-bar {
	display: none;
}

.filter-off .filter-area {
	display: none;
}

.settings-off .settings-area {
	display: none;
}

.filter-bar {
	display: grid;
	grid-template-rows: 50px 1fr;
}

.filter-bar .filter-icon {
	text-align: center;
	align-self: center;
	cursor: pointer;
}

.filter-bar .filter-text {
	writing-mode: vertical-rl;
	text-align: left;
	justify-self: center;
}

.tab-names .tab-content {
	min-height: 72px;
}

.tab-content {
	grid-template-rows: 50px 1fr;
}
