.react-grid-item {
	box-sizing: border-box;
}

.react-grid-item:not(.react-grid-placeholder) {
	background: #ccc;
	border: 1px solid black;
}

.react-grid-item.resizing {
	opacity: 0.9;
}

.react-grid-dragHandleExample {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.droppable-element {
	width: 150px;
	text-align: center;
	background: #fdd;
	border: 1px solid black;
	margin: 10px 0;
	padding: 10px;
}
